* {
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(78, 199, 207, 1) 0%,
    rgba(21, 130, 196, 1) 30%,
    rgba(0, 212, 255, 1) 71%
  );
}

.container {
  margin: 100px;
}

nav a {
  padding: 20px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.example {
  background-color: whitesmoke;
  text-align: center;
  padding: 15px;
  border-radius: 1rem;
}

.example1 {
	margin-right: 40px;
}
.example2 {
	
}

.certificate {
	width: 100%;
}


.row {
  height: 60px;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
}

/* Column widths */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
/* Column offsets */
.col-offset-1 {
  margin-left: 8.33%;
}
.col-offset-2 {
  margin-left: 16.66%;
}
.col-offset-3 {
  margin-left: 25%;
}
.col-offset-4 {
  margin-left: 33.33%;
}
.col-offset-5 {
  margin-left: 41.66%;
}
.col-offset-6 {
  margin-left: 50%;
}
.col-offset-7 {
  margin-left: 58.33%;
}
.col-offset-8 {
  margin-left: 66.66%;
}
.col-offset-9 {
  margin-left: 75%;
}
.col-offset-10 {
  margin-left: 83.33%;
}
.col-offset-11 {
  margin-left: 91.66%;
}
.col-offset-12 {
  margin-left: 100%;
}
