h1 {
    margin-bottom: 40px;
}

.web_dev {
    border: 2px solid rgb(64, 133, 160);
    border-radius: 1rem;
    padding: 3px 3px;
}

.avatar {
    background-size: cover;
    width: 35%;
    border-radius: 50%;
}