@media (max-width: 1322px) {
  .col-m-12 {
    width: 100%;
  }

  .example_rwd {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 3px;
    border-bottom: solid #1da7c3 4px;
    border-radius: 9px;
  }

  .text_project_rwd {
    width: 100%;
  }

  .container_rwd {
    margin: 5px;
  }

  .active {
    border-top: solid rgba(0, 212, 255, 1) 2px;
    border-bottom: solid rgba(21, 130, 196, 1) 2px;
  }

  ul {
    padding: 0;
  }
}
